<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <%= image_tag(category.icon, :alt => "Category Icon") %>

  <p>
    <strong>Transactions:</strong>
    <%= category.transactions %>
  </p>

</div>
